HW3/HW3.cache/*
HW3/HW3.hw/*
HW3/HW3.ip_user_files/*
HW3/HW3.sim/*

lab1_part1/lab1_part1.cache/*
lab1_part1/lab1_part1.hw/*
lab1_part1/lab1_part1.ip_user_files/*
lab1_part1/lab1_part1.sim/*

lab1_part2/lab1_part2.cache/*
lab1_part2/lab1_part2.hw/*
lab1_part2/lab1_part2.ip_user_files/*
lab1_part2/lab1_part2.sim/*
*.xpr
lab1_part2/lab1_part2.runs/.jobs/vrs_config_1.xml
lab1_part2/lab1_part2.runs/synth_1/.vivado.begin.rst
lab1_part2/lab1_part2.runs/synth_1/.vivado.error.rst
lab1_part2/lab1_part2.runs/synth_1/.Vivado_Synthesis.queue.rst
lab1_part2/lab1_part2.runs/synth_1/__synthesis_is_running__
lab1_part2/lab1_part2.runs/synth_1/gen_run.xml
lab1_part2/lab1_part2.runs/synth_1/htr.txt
lab1_part2/lab1_part2.runs/synth_1/ISEWrap.js
lab1_part2/lab1_part2.runs/synth_1/ISEWrap.sh
lab1_part2/lab1_part2.runs/synth_1/Lab1FSM.tcl
lab1_part2/lab1_part2.runs/synth_1/Lab1FSM.vds
lab1_part2/lab1_part2.runs/synth_1/project.wdf
lab1_part2/lab1_part2.runs/synth_1/rundef.js
lab1_part2/lab1_part2.runs/synth_1/runme.bat
lab1_part2/lab1_part2.runs/synth_1/runme.log
lab1_part2/lab1_part2.runs/synth_1/runme.sh
lab1_part2/lab1_part2.runs/synth_1/vivado.jou
lab1_part2/lab1_part2.runs/synth_1/vivado.pb
